<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <script src="./script.js"></script>
</head>
<body>
    <form>
        Welcome, <?php echo $_SESSION["displayName"] ?>! <a onclick="return confirmLogout();" href="#">(logout)</a>
        <br><br>
        <h1>myMovies Xpress!</h1>
        <br><br>
        <!-- movieCound = number of movieID values-->
        <?= $size = count($arrayOfMovieID); echo $size;?> movies currently in Your Shopping Cart.
        <br><br>
        <?php if($size == 0){ ?>
            <a href="search.php">Add some movies to your cart</a>
        <?php } ?>

        <?php if ($size != 0) { ?>
            <table style="height:100%;">
                <tr>
                <th>Movie</th>
                <th>Title</th>
                <th>Remove</th>
            </tr>
        <?php

            for($i = 0; $i <= $size; $i++){
                $movieID = $arrayOfMovieID[$i];

                if(!isset($movieID)){
                    break;
                }


                $movie = file_get_contents('http://www.omdbapi.com/?apikey=a00774f1&i='.urlencode($movieID).'&type=movie&r=json');
                $array = json_decode($movie, true);

                $movieImage = $array['Poster'];
                $movieTitle = $array['Title'];
                $movieYear = $array['Year'];
                $thisMovieID = $array['imdbID'];
                $movieLink = 'https://www.imdb.com/title/'.urlencode($movieID).'/';
            ?>
                <tr>
                    <th> <img src="<?php echo $movieImage; ?>" alt="movie image"> </th>
                    <th><a href="<?php echo $movieLink; ?>" target="_blank"><?php echo $movieTitle; ?> (<?php echo $movieYear ?>)</a></th>

                    <th><a href="javascript: confirmRemove('<?php echo $movieTitle; ?>','<?php echo $thisMovieID; ?>');"> X </a></th>
                    </tr>
                <?php } ?>
                <?php } ?>
        <br><br>
            </table>
        <button formaction="search.php">Add Movie</button>
        <button onclick="confirmCheckout();">Checkout</button>

    </form>

</body>
</html>