<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
    <script src="./script.js"></script>
</head>
<body>

    <form action="./search.php" method="post">
        Welcome, <?php echo $_SESSION["displayName"] ?>! <a onclick="return confirmLogout();" href="#">(logout)</a>
        <br><br>
        <h1>myMovies Xpress!</h1>
        <br><br>
        Search Movie: <br>
        <input type="text" name="toSearch"><br><br>
        <button type="submit">Search</button> <button type="reset">Clear</button>  <button formaction="index.php">Cancel</button>
    </form>

</body>
</html>